<div id="map" #map></div>

<div class="floating-range p-2">
  <div class="floating-content">
    <button class="btn btn-primary" (click)="zoomOut()">-</button>
    <input
      type="range"
      class="form-range px-2"
      min="1.89"
      max="19"
      [value]="zoom"
      #zoomRange
      (input)="zoomChanged(zoomRange.value)"
    />
    <button class="btn btn-primary" (click)="zoomIn()">+</button>
  </div>
  <div class="floating-content">
    <span class="form-label">
      Zoom : {{ zoom | number : "2.2-2" }}
      <br />
      [Lng | Lat] : {{ lngLat[0] | number : "2.2-2" }} | {{ lngLat[1] | number : "2.2-2"  }}
    </span>
    <button class="btn btn-primary" (click)="centerMap()">Center</button>
  </div>
</div>
