#map {
    width : 100vw;
    height:  100vh;
}

.floating-range{
    position : fixed;
    bottom : 20px;
    left: 20px;
    z-index: 999;
    width: 30vw;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* This will apply if the screen width is less than or equal to 600px (typical for phones) */
@media screen and (max-width: 750px) {
    .floating-range {
        width: 90%; /* You can adjust this value to whatever suits your design */
        left: 5%; /* This will center the element */
    }
}

.floating-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}